Value Int (\S+)
Value LinkState (\S+)
Value SwitchPortMode (\S+)
Value Description (\S+)

Start
 ^Interface\s+Link\s+\Speed.+
 ^${Int}\s+${LinkState}\s+\S+\s+\S+\s+${SwitchPortMode}\s+\S+\s+${Description} -> Record