Value Port (\S+)
Value DescriptionStart (.+)
Value Link (\S+)
Value Shutdown (\S+)
Value Speed (\S+)
Value Pri (\S+)
Value PVID (\S+)
Value Mode (\S+)
Value TagVlan (.+)
Value UtVlan (\S+)

Start
  ^(${Port})\s+${DescriptionStart}\s+(${Link})\s+(${Shutdown})\s+(${Speed})\s+(${Pri})\s+(${PVID})\s+(${Mode})\s+(${TagVlan})\s+(${UtVlan}) -> Record
