Value Port (\d+)
Value Active (\S+)
Value Name (\S*)
Value PVID (\d+)
Value FlowControl (\S+)
Value Type (\S+)
Value SpeedDuplex (\S+)
Value Priority (\d+)

Start
 ^\s+Port No\s+:${Port}
 ^\s+Active\s+:${Active} 
 ^\s+Name\s+:${Name} 
 ^\s+PVID\s+:${PVID}\s+Flow Control\s+:${FlowControl}
 ^\s+Type\s+:${Type}\s+Speed\/Duplex\s+:${SpeedDuplex}
 ^\s+802.1p Priority :${Priority} -> Record